.vscode/**
.vscode-test/**
.vscode-tfvc/**
.claude/**
src/**
test/**
out-test/**
node_modules/**
tsconfig.json
tsconfig.test.json
esbuild.mjs
.github/**
.gitignore
.env
.env.*
**/*.map
**/*.ts
!out/**
